.Sedes {
	padding-top: 40px;

}

.Sedesa {
	padding: 20px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 20px;
	border:1px solid black;
	      font-weight: bolder;
}
.contenttwo{
	padding: 20px;
	width: 100%;
	min-height: 1000px;
	background: rgba(0, 0, 0, 0.25);
}

.contentdetails{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.contentdetailsfora{
	padding: 20px;
}

.contentdetailsfora img{
	height: 100px;
    width: 100px;
    border-radius: 5%;
	
}
.contentdetailsfora p{
    border-color:  #212C2A;
    color: #212C2A;
}

.Sedes table {
	width: 100%;
}

.item{
  width:200px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float:left;
}

.content_box {
    border: 1px solid #D6CBCB;
    padding-bottom: 10px;
    background-color: #BCF5FA;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid1_of_4:first-child {
    margin-left: 0;
    text-align: center;
}
.grid1_of_4 {
    float: left;
    width: 23.22222%;
    margin-left: 2.33333%;
    text-align: center;
}

.DetalleSede{
	color: #000;
	background: #fff;
	border:1% solid #fff;
	border-radius: 20px;
	transition-duration: 0.4s;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

 a{
    text-decoration: none;

}

button {
	margin: 5px 0;
	padding: 10px;
	font: inherit;
	color: white;
	cursor:pointer;
}

.Add {
	float: left;
	width: 100px;
	margin: 15px ;
	padding: 10px;
	font: inherit;
	border: 1px solid #fff;
	color: white;
	background-color: #48BFB3;
	cursor:pointer;
	
}

.Add:hover,
.Add:active{
	background-color: #666633;
	color: #fff;
}

.Edit{
	background-color: #48BFB3;
	border: 1px solid #48BFB3;
}

.Desc{
	background-color: #f0b81f;
	border: 1px solid #f0b81f;
}

.Elim{
	background-color: red;
	border: 1px solid #81aaa4;
}
.Imagen{
	border-radius: 20px;
	width: 100px;
	height: 100px;

}