.Navbar {
	background-color:  #F5F7F6;
    position: fixed;
    width: 100%;

}

.NavbarList {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #373938;

}

.NavbarItem {
    float: right;
}

.NavbarItem a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavbarItem a:hover {
    color:  #373938;
}

.NavbarItem a.active {
    background-color: #48C5B7;
}