.Archivos {
	padding-top: 40px;
}

.contenttwo{
	padding: 20px;
	width: 100%;
	min-height: 1000px;
	background: rgba(0, 0, 0, 0.35);
}

.contentdetails{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.contentdetailsfora{
	padding: 20px;
}

.contentdetailsfora img{
	height: 70px;
    width: 70px;
    border-radius: 5%;
	
}
.contentdetailsfora p{
    border-color:  #212C2A;
    color: #212C2A;
}


.Archivos table {
	width: 100%;
}

.Archivos th, td {
    padding: 25px;
    text-align: left;
}

.Archivos thead{
	font-weight: bold;
	background-color: #dbdbdb;
}
.Archivos tr:hover {
	background-color: #f5f5f5;
}

.Archivos button {
	margin: 5px 0;
	padding: 10px;
	font: inherit;
	color: white;
	cursor:pointer;
}

.Add {
	float: none;
	width: 100px;
	margin: 15px ;
	padding: 10px;
	font: inherit;
	border: 1px solid #fff;
	color: white;
	background-color: #48BFB3;
	cursor:pointer;
	text-align: center

}

.Add:hover,
.Add:active{
	background-color: #448866;
	color: #fff;
}

.Regresar {
	float: none;
	width: 100px;
	margin: 15px ;
	padding: 10px;
	font: inherit;
	border: 1px solid #fff;
	color: white;
	background-color: #DD8833;
	cursor:pointer;

}

.Regresar:hover,
.Regresar:active{
	background-color: #CC9933;
	color: #fff;
}

.Archivos .Edit{
	background-color: #48BFB3;
	border: 1px solid #48BFB3;
}

.Archivos .Desc{
	background-color: #f0b81f;
	border: 1px solid #f0b81f;
}

.Archivos .Elim{
	background-color: #81aaa4;
	border: 1px solid #81aaa4;
}