.Success{
	background: transparent;
	border: 2px solid black;
	margin: 25px;
	padding: 20px;
	transition-duration: 0.3s;
}

.Success:hover{
	background: black;
	border-color:transparent;
	color: white;
}

.SuccessDisabled{
	background: transparent;
	border: 2px solid grey;
	margin: 25px;
	padding: 20px;
	transition-duration: 0.3s;	
}